/*home page buttns*/
.button {
    background-color: green; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    object-position: center;
}
.button:hover{
    background-color: darkgreen
    
}
body{
    background-color:yellowgreen;
    
}
/*link to view cheque*/
.chequeLink{
    
    color: black;
    
    
}
/*Submit buttton in attenddance form*/
.submit{
    background-color: black;
    text-align: center;
    padding: 5px 10px;
   
    font-size: 14px;
    position:relative;
     
    left:64%;
    color: white;
    
}
/*in each subsystem left buttns*/
.button1{
    width:200px;
    background-color: green; /* Green */
    border: 1px solid green;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    object-position: center;
}
.button1:hover{
    
    background-color: darkgreen;
}
.button2{
    width:100px;
    height: 25px;
    border: none;
    background-color: white;
    
}
.button2:hover{
    background-color: #b6ee65;
}


/*home page button block*/
.buttonBlock{
    padding: 5px 10px;
    background-position: center;
        
    
}
.homelink{
    text-align: left;
    
    
}
.loginLink{
    text-align: right;
   
    
}
/*table radio*/
.cell{
    text-align: center;
    width: 10px;
    
}
/*tables in financial section */
.cellAmt{
    text-align: right;
    
}

/*table name*/
.clm1{
    padding: 2px 15px;
    
    
}

h1{
    text-align: center;
    font-family: Times;
    
}

.head{
    
   
    border: 1px solid black;
    
}



